<div style="width: 380px">
  <div mat-dialog-title>
    <mat-icon class="dialog-title-icon">error_outline</mat-icon>
    <span *ngIf="errorDetails.title">{{errorDetails.title}}</span>
    <span *ngIf="!errorDetails.title">An error occurred..</span>
  </div>
  <div mat-dialog-content>
    <p style="white-space: pre-line">
      {{errorDetails.userFriendlyMessage}}
    </p>
    <div *ngIf="preferences?.enableDebugging">
      <mat-divider></mat-divider>
      <p style="white-space: pre-line; word-wrap: break-word">
        {{debugInfo}}
      </p>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      *ngIf="errorDetails.shouldSendErrorReport"
      mat-stroked-button
      cdkFocusInitial
      matTooltip="Error reports do not include any of your personal browsing data. You will be able to review exactly what information is being sent before submitting."
      color="primary"
      (click)="sendErrorReport()">
      <mat-icon class="inline-icon-17">email</mat-icon>
      Send error report
    </button>
    <button
      *ngIf="errorDetails.requiresReload"
      mat-stroked-button
      color="primary"
      (click)="reloadPage()">
      Reload page
    </button>
    <button
      *ngIf="!errorDetails.requiresReload"
      mat-stroked-button
      mat-dialog-close
      color="primary">
      Close
    </button>
  </div>
</div>
