<div style="width: 380px">
  <div mat-dialog-title>
    <mat-icon class="dialog-title-icon">error_outline</mat-icon>
    An error occurred..
  </div>
  <div mat-dialog-content>
    <p style="white-space: pre-line">
      {{data.errorMessage}}
    </p>
    <button
      *ngIf="preferences?.enableDebugging && !showErrorDetails"
      mat-button
      color="accent"
      (click)="enableShowErrorDetails()">
      Show error details
    </button>
    <p
      *ngIf="showErrorDetails"
      style="white-space: pre-line; word-wrap: break-word">
      {{runtimeErrorString}}
    </p>
  </div>
  <div mat-dialog-actions>
    <button
      mat-stroked-button
      cdkFocusInitial
      matTooltip="Error reports do not include any of your personal browsing data. You will be able to review exactly what information is being sent before submitting."
      color="primary"
      (click)="sendErrorReport()">
      <mat-icon class="inline-icon-17">email</mat-icon>
      Send error report
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="reloadPage()">
      Reload page
    </button>
  </div>
</div>
