<div style="width: 380px">
  <div mat-dialog-title>
    <mat-icon class="dialog-title-icon">error_outline</mat-icon>
    <span *ngIf="data.title">{{data.title}}</span>
    <span *ngIf="!data.title">An error occurred...</span>
  </div>
  <div mat-dialog-content>
    <h3 class="dialog-emphasised-content">{{data.errorMessage}}</h3>
  </div>
  <div *ngIf="data.descriptionHTML" [innerHTML]="data.descriptionHTML"></div>
  <div mat-dialog-actions>
    <button
      mat-stroked-button
      color="primary"
      *ngFor="let action of data.actions"
      (click)="action.callback()">
      {{action.buttonText}}
    </button>
    <button
      mat-stroked-button
      matDialogClose
      color="primary">
      Close
    </button>
  </div>
</div>
