<div
  [@simpleFadeAnimation]="'fadeIn'"
  style="height: 100%">
  <mat-grid-list
    cols="{{cols}}"
    style="height: 100%"
    rowHeight="fit"
    (window:resize)="onResize($event)">
    <mat-grid-tile *ngIf="cols > 1">
      <app-saved-sessions-list
        class="full-height-column"
        [sessionListState]="savedSessionState$ | async"
        [props]="savedSessionProps">
      </app-saved-sessions-list>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-window-list
        class="full-height-column"
        [title]="'Active'"
        [sessionListState]="activeSessionState$ | async"
        [props]="activeSessionProps">
      </app-window-list>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="cols > 2">
      <app-window-list
        class="full-height-column"
        [title]="'Recently Closed'"
        [sessionListState]="closedSessionState$ | async"
        [props]="recentlyClosedSessionProps">
      </app-window-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<a
  mat-icon-button
  matTooltip="Background photo by {{backgroundPhoto.author}}"
  class="photo-camera-icon"
  [href]="backgroundPhoto.url">
  <mat-icon class="action-icon-24">photo_camera</mat-icon>
</a>
