<div
  class="column-scrollable-content"
  cdkDropList
  [id]="props.sessionListId"
  [cdkDropListData]="props"
  [cdkDropListConnectedTo]="connectedWindowListIds"
  [cdkDropListDisabled]="!props.isMutable"
  (cdkDropListDropped)="windowDropped($event)">
  <div
    *ngIf="!sessionListState.isHidden() || isComponentAnimating"
    [@collapse-list]="animationState"
    (@collapse-list.done)="completeToggleDisplayAnimation($event)">
    <ng-container *ngFor="let sessionState of this.sessionListState; index as i; first as isFirst; last as isLast">
      <div
        *ngIf="sessionState.session.window"
        cdkDrag
        [cdkDragData]="sessionState"
        (cdkDragStarted)="beginDrag()">
        <app-chrome-window-container
          [sessionState]="sessionState"
          [props]="props"
          [index]="i">
        </app-chrome-window-container>
      </div>

      <app-detached-chrome-tab
        *ngIf="sessionState.session.tab"
        [sessionState]="sessionState"
        [props]="props"
        [index]="i"
        [isFirstChild]="isFirst || !sessionListState.getSessionAtIndex(i-1).tab"
        [isLastChild]="isLast || !sessionListState.getSessionAtIndex(i+1).tab">
      </app-detached-chrome-tab>
    </ng-container>
  </div>
</div>
