<div class="column-header">
  <span style="float: right">
    <button
      mat-icon-button
      [title]="windowListState.layoutState.hidden ? 'Show active windows' : 'Minimize active windows'"
      (click)="toggleDisplay()">
      <mat-icon class="action-icon-24" *ngIf="!windowListState.layoutState.hidden">arrow_drop_down</mat-icon>
      <mat-icon class="action-icon-24" *ngIf="windowListState.layoutState.hidden">arrow_right</mat-icon>
    </button>
  </span>
  <span class="column-title-text">
    Active
  </span>
</div>

<div
  class="column-scrollable-content"
  *ngIf="!windowListState.layoutState.hidden">
  <div *ngFor="let window of windowListState.chromeAPIWindows">
    <app-chrome-window
      *ngIf="window.type === 'normal'"
      [chromeAPIWindow]="window"
      [layoutState]="windowListState.getWindowLayout(window.id)"
      [actionButtons]="actionButtons"
      [isMutable]="true"
      [windowCategory]="windowCategory"
      [tabsService]="chromeTabsService">
    </app-chrome-window>
  </div>
</div>
