<div class="column-header">
  <span style="float: right">
    <button
      mat-icon-button
      [title]="windowListState.layoutState.hidden ? 'Show active windows' : 'Minimize active windows'"
      (click)="toggleDisplay()">
      <mat-icon class="action-icon-24" *ngIf="!windowListState.layoutState.hidden">arrow_drop_down</mat-icon>
      <mat-icon class="action-icon-24" *ngIf="windowListState.layoutState.hidden">arrow_right</mat-icon>
    </button>
  </span>
  <span class="column-title-text">
    Active
  </span>
</div>

<div
  cdkDropList
  class="column-scrollable-content"
  *ngIf="!windowListState.layoutState.hidden"
  [id]="windowListId"
  [cdkDropListConnectedTo]="connectedWindowListIds"
  (cdkDropListDropped)="windowDropped($event)">
  <div
    cdkDrag
    *ngFor="let layoutState of windowListState.layoutState.windowStates"
    [cdkDragData]="windowListState.getWindow(layoutState.windowId)"
    (cdkDragStarted)="beginDrag()">
    <div
      class="chrome-window-container"
      *ngIf="windowListState.getWindow(layoutState.windowId).type === 'normal' && !layoutState.deleted">
      <div cdkDragHandle>
        <app-chrome-window-header
          [chromeAPIWindow]="windowListState.getWindow(layoutState.windowId)"
          [layoutState]="layoutState"
          [actionButtons]="actionButtons"
          [props]="windowProps">
        </app-chrome-window-header>
      </div>
      <app-chrome-window
        [chromeAPIWindow]="windowListState.getWindow(layoutState.windowId)"
        [layoutState]="layoutState"
        [props]="windowProps">
      </app-chrome-window>
    </div>
  </div>
</div>
