<div class="chrome-window-container">
  <!--Header-->
  <div appMouseOver
       #headerDiv=app-mouse-over
       [ngClass]="layoutState.hidden ? 'chrome-window-header-hidden' : 'chrome-window-header'">
    <!--Action bar-->
    <div class="chrome-window-action-bar">
      <button class="action-button-30"
              mat-icon-button
              title="Debug"
              (click)="debug()">
        <mat-icon class="action-icon-18">bug_report</mat-icon>
      </button>
      <button class="action-button-30"
              mat-icon-button
              title="Save window"
              *ngIf="shouldShowSaveWindowButton() && headerDiv.mouseOver"
              (click)="saveWindow()">
        <mat-icon class="action-icon-18">save_alt</mat-icon>
      </button>
      <button class="action-button-30"
              mat-icon-button
              title="Open window"
              *ngIf="shouldShowOpenWindowButton() && headerDiv.mouseOver"
              (click)="openWindow()">
        <mat-icon class="action-icon-18">open_in_new</mat-icon>
      </button>
      <button class="action-button-30"
        mat-icon-button
        [title]="layoutState.hidden ? 'Show window' : 'Minimize window'"
        (click)="toggleDisplay()">
        <mat-icon class="action-icon-18" *ngIf="!layoutState.hidden">arrow_drop_down</mat-icon>
        <mat-icon class="action-icon-18" *ngIf="layoutState.hidden">arrow_right</mat-icon>
      </button>
      <button class="action-button-30"
        mat-icon-button
        title="Close window"
        (click)="closeWindow()">
        <mat-icon class="action-icon-18">close</mat-icon>
      </button>
    </div>

    <!--Title text-->
    <div class="chrome-window-title">
      <div
        appMouseOver
        #titleTextDiv=app-mouse-over
        *ngIf="!showEditForm">
        {{getTitle()}}
        <button class="action-button-30"
                mat-icon-button
                title="Edit title"
                *ngIf="isMutable && titleTextDiv.mouseOver"
                (click)="editTitle()">
          <mat-icon class="action-icon-18">edit</mat-icon>
        </button>
      </div>

      <form *ngIf="showEditForm" (ngSubmit)="submitTitleForm()">
        <input
            #titleInput
            type="text"
            [formControl]="titleFormControl"
            (blur)="submitTitleForm()"
            (keydown.enter)="submitTitleForm()"
            (keydown.escape)="cancelTitleFormEdit()">
        <button mat-icon-button
                class="action-button-30"
                type="submit"
                title="Save title">
          <mat-icon class="action-icon-18">save_alt</mat-icon>
        </button>
      </form>
    </div>
  </div>

  <!--Body-->
  <div
    cdkDropList
    class="chrome-window-body"
    *ngIf="!layoutState.hidden"
    [cdkDropListEnterPredicate]="dropTargetIsMutable"
    [cdkDropListData]="componentData"
    (cdkDropListDropped)="tabDropped($event)">
    <div
      cdkDrag
      class="draggable-chrome-tab"
      *ngFor="let tab of chromeAPIWindow.tabs"
      [cdkDragData]="tab"
      [cdkDragDisabled]="!isDragEnabled() || !tab.id"
      (cdkDragStarted)="beginDrag()">
      <app-draggable-chrome-tab
        class="chrome-tab"
        [chromeTab]="tab"
        (draggableChromeTabClose)="closeTab(tab.id)"
        (draggableChromeTabClick)="setTabActive(tab)">
      </app-draggable-chrome-tab>
    </div>

    <app-empty-chrome-tab
      style="position: relative;"
      *ngIf="chromeAPIWindow.tabs.length === 0">
    </app-empty-chrome-tab>
  </div>
</div>

