<div
  cdkDropList
  class="chrome-window-body"
  *ngIf="!layoutState.hidden"
  [id]="chromeAPIWindow.id.toString()"
  [cdkDropListConnectedTo]="connectedWindowIds"
  [cdkDropListData]="dragDropData"
  [cdkDropListEnterPredicate]="dropTargetIsMutable"
  (cdkDropListDropped)="tabDropped($event)">
  <app-draggable-chrome-tab
    cdkDrag
    class="chrome-tab-border"
    *ngFor="let tab of chromeAPIWindow.tabs"
    [cdkDragData]="tab"
    [cdkDragDisabled]="!isDragEnabled(tab)"
    [chromeTab]="tab"
    (cdkDragStarted)="beginDrag()"
    (draggableChromeTabClose)="closeTab(tab.id)"
    (draggableChromeTabClick)="tabClicked(tab, $event)">
  </app-draggable-chrome-tab>

  <app-empty-chrome-tab
    style="position: relative;"
    *ngIf="chromeAPIWindow.tabs.length === 0">
  </app-empty-chrome-tab>
</div>
