<div style="width: 380px">
  <div mat-dialog-title>
    <mat-icon style="vertical-align: -5px; margin-right: 5px">error_outline</mat-icon>
    An error occurred...
  </div>
  <div mat-dialog-content>
    <div
      style="padding-left: 10px; border-left: 5px solid grey"
      *ngFor="let error of errorList">
      <h3>{{error.title}}</h3>
      <p>
        {{error.description}}
      </p>
    </div>
  </div>
  <div mat-dialog-actions>
    <p>
      Please press repair to continue, or submit an error report to help improve the extension.
    </p>
    <button
      mat-stroked-button
      matTooltip="Error reports do NOT include any of your personal browsing data. You will be able to review exactly what information is being sent before submitting."
      color="primary"
      (click)="sendErrorReport()">
      <mat-icon style="font-size: 17px; height: 17px; width: 17px; margin-right: 5px">email</mat-icon>
      Send Error Report
    </button>
    <button
      mat-stroked-button
      matTooltip="Repair"
      color="warn"
      (click)="repairErrors()">
      <mat-icon style="font-size: 17px; height: 17px; width: 17px; margin-right: 5px">build</mat-icon>
      Repair
    </button>
  </div>
</div>

<ng-template #warningDialog>
  <div style="width: 400px">
    <div mat-dialog-title>
      <mat-icon style="vertical-align: -5px; margin-right: 5px">warning</mat-icon>
      Warning
    </div>
    <div mat-dialog-content>
      <div *ngFor="let error of errorList">
        <p
          style="padding-left: 10px; border-left: 5px solid grey"
          *ngIf="error.callback.warningMessage">
          {{error.callback.warningMessage}}
        </p>
      </div>
    </div>
    <div mat-dialog-actions>
      <button
        mat-stroked-button
        color="primary"
        (click)="closeWarningDialog()">
        Cancel
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="invokeErrorCallbacks()">
        Proceed
      </button>
    </div>
  </div>
</ng-template>
