<div style="width: 350px">
  <div mat-dialog-title>
    <mat-icon style="vertical-align: -5px; margin-right: 5px">error_outline</mat-icon>
    An error occurred...
  </div>
  <div mat-dialog-content>
    <div style="padding-left: 10px; border-left: 5px solid grey">
      <h3>{{data.title}}</h3>
      <p>
        {{data.description}}
      </p>
    </div>
  </div>
  <div mat-dialog-actions>
    <p>
      Press fix to continue, or submit an error report to help improve the extension.
    </p>
    <a
      mat-stroked-button
      matTooltip="The error report does NOT include any of your browsing data and you will be able to review exactly what information is being sent before submitting"
      color="primary"
      href="mailto:{{errorReportEmail}}?subject={{errorReportSubject}}&body={{errorReportBody}}"
      target="_blank">
      <mat-icon style="font-size: 17px; height: 17px; width: 17px; margin-right: 5px">email</mat-icon>
      Send Error Report
    </a>
    <button
      mat-stroked-button
      matTooltip="Repair the extension"
      color="warn"
      (click)="executeCallbacks()">
      <mat-icon style="font-size: 17px; height: 17px; width: 17px; margin-right: 5px">build</mat-icon>
      Fix
    </button>
  </div>
</div>
