<div
  [@simpleFadeAnimation]="'fadeIn'"
  style="height: calc(100% - 80px); padding-top: 80px; overflow-y: scroll">
  <mat-card class="settings-card">
    <mat-card-header>
      <mat-card-title>Preferences</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-slide-toggle
            [checked]="preferences?.enableDarkTheme"
            [color]="'primary'"
            [labelPosition]="'before'"
            [disableRipple]="true"
            (change)="setDarkThemeEnabled($event)">
            Dark theme
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
          <mat-slide-toggle
            [checked]="preferences?.closeWindowOnSave"
            [color]="'primary'"
            [labelPosition]="'before'"
            [disableRipple]="true"
            (change)="setCloseWindowOnSave($event)">
            <div>
              <div>Close tabs after moving</div>
              <div class="options-settings-card-sub-text">
                Remove the original window/tab after dragging it to a different section
              </div>
            </div>
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>


  <mat-card class="settings-card">
    <mat-card-header>
      <mat-card-title>Sync Options</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-slide-toggle
            [checked]="preferences?.syncSavedWindows"
            [color]="'primary'"
            [labelPosition]="'before'"
            [disableRipple]="true"
            (change)="setSyncSavedWindows($event)">
            <div style="">Enable sync</div>
            <div class="options-settings-card-sub-text">
              Synchronize saved windows between devices
            </div>
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="preferences?.syncSavedWindows">
        <ng-container>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div mat-line style="margin-bottom: 5px" class="options-settings-card-sub-text">
              Bytes in use: {{syncBytesInUse | number}} out of {{syncQuotaBytes | number}} ({{syncBytesInUsePercentage}}%)
            </div>
            <mat-progress-bar
              mat-line mode="determinate"
              value="{{syncBytesInUsePercentage}}">
            </mat-progress-bar>
          </mat-list-item>
          <h3
            mat-subheader
            style="height: 30px"
            class="options-settings-card-sub-text">
            <mat-icon class="icon-18" style="height: 20px; width: 18px; margin-right: 5px">warning</mat-icon>
            Warning: Chrome sync storage has a maximum quota of {{syncQuotaBytes | number}} bytes
          </h3>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>


  <mat-card class="settings-card">
    <mat-card-header>
      <mat-card-title>Data</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div style="width: 100%">
            <div style="float: left">
              <div style="">Download your data</div>
              <div class="options-settings-card-sub-text">
                Download your saved tabs and windows
              </div>
            </div>
            <a
              style="float: right"
              title="Download Tab Data"
              [href]="downloadJsonHref | async"
              download="TabManagerData.txt">
              <button
                mat-stroked-button
                color="primary">
                Download
              </button>
            </a>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>


  <mat-card class="settings-card">
    <mat-card-header>
      <mat-card-title>Reset and clean up</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div style="width: 100%">
            <div style="float: left">
              <div>Restore defaults</div>
              <div class="options-settings-card-sub-text">
                Reset the state of the application and wipe all saved data
              </div>
            </div>
            <button
              mat-stroked-button
              style="float: right"
              color="warn"
              (click)="reset()">
              Reset
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>


  <mat-card class="settings-card">
    <mat-card-header>
      <mat-card-title>Developer Options</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-slide-toggle
            [checked]="preferences?.enableDebugging"
            [color]="'primary'"
            [labelPosition]="'before'"
            [disableRipple]="true"
            (change)="setEnableDebugging($event)">
            Enable debug mode
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
