<div
  [@simpleFadeAnimation]="'fadeIn'"
  [ngStyle]="{
    background: 'url(/assets/32139955053_237df2fcb3_3k.jpg) no-repeat center center fixed',
    backgroundSize: 'cover',
    height: 'calc(100% - 80px)',
    paddingTop:'80px'
  }">
  <mat-card style="width: 400px; margin: 0 auto 20px auto">
    <mat-card-header>
      <mat-card-title>Preferences</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-slide-toggle
            [checked]="preferences?.closeWindowOnSave"
            [color]="'primary'"
            [labelPosition]="'before'"
            (change)="setCloseWindowOnSave($event)">
            <div style="width: 360px">Close windows/tabs when dropped</div>
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card style="width: 400px; margin: 0 auto 20px auto">
    <mat-card-header>
      <mat-card-title>Sync Options</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-slide-toggle
            style=""
            [checked]="preferences?.syncSavedWindows"
            [color]="'primary'"
            [labelPosition]="'before'"
            (change)="setSyncSavedWindows($event)">
            <div style="width: 360px">
              <div style="">Enable sync</div>
              <div style="font-size: 14px; color: grey">Synchronize saved windows between devices</div>
            </div>
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="preferences?.syncSavedWindows">
        <ng-container>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div mat-line style="font-size: 14px; color: grey; margin-bottom: 5px">
              Bytes in use: {{syncBytesInUse | number}} out of {{syncQuotaBytes | number}} ({{getBytesInUsePercentage()}}%)
            </div>
            <mat-progress-bar mat-line mode="determinate" value="{{getBytesInUsePercentage()}}"></mat-progress-bar>
          </mat-list-item>
          <h3 mat-subheader>Warning: Chrome sync storage has a maximum quota of {{syncQuotaBytes | number}} bytes</h3>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card style="width: 400px; margin: 0 auto 20px auto">
    <mat-card-header>
      <mat-card-title>Developer Options</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-slide-toggle
            [checked]="preferences?.enableDebugging"
            [color]="'primary'"
            [labelPosition]="'before'"
            (change)="setEnableDebugging($event)">
            <div style="width: 360px">Enable debug mode</div>
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
