.mat-dialog-actions {
  justify-content: flex-end;
}

.inline-image-17px {
  height: 17px;
  width: 17px;
  margin-right: 5px;
}

.inline-image-24px {
  height: 24px;
  width: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.profile-photo-center {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}
