<div style="width: 380px">
  <div mat-dialog-title style="margin-bottom: 10px">
    <mat-icon style="height: 33px; vertical-align: middle">error_outline</mat-icon>
    {{data.title}}
  </div>
  <div mat-dialog-content>
    <p>Oops...</p>
    <p>
      An error occurred while retrieving your saved tabs from storage.
      <br>
      This was probably caused by a modification to the schema in the most recent update (version {{manifestVersion}}).
    </p>
    <p>
      Please use the repair tool to continue, or submit an error report to help improve the extension.
    </p>
    <p>
      Note: The error report does not include any of your personal data and you will be able to review exactly what information is being sent before submitting.
    </p>
  </div>
  <div mat-dialog-actions>
    <a
      mat-stroked-button
      color="primary"
      href="mailto:{{errorReportEmail}}?subject={{errorReportSubject}}&body={{errorReportBody}}"
      target="_blank">
      <mat-icon style="font-size: 17px; height: 17px; width: 17px; margin-right: 5px">email</mat-icon>
      Send Error Report
    </a>
    <button
      mat-stroked-button
      color="warn"
      (click)="clearStorage()">
      <mat-icon style="font-size: 17px; height: 17px; width: 17px; margin-right: 5px">build</mat-icon>
      Repair
    </button>
  </div>
</div>
