<div style="width: 400px">
  <div mat-dialog-title>
    Turn off Sync
  </div>
  <div mat-dialog-content>
    <div *ngIf="!actionInProgress">
      <h4>Would you like to copy your current set of saved tabs back to local storage?</h4>
      <mat-checkbox
        style="display: block; margin: 15px 0"
        [(ngModel)]="shouldCopySavedTabs"
        [color]="'primary'">
        Copy saved tabs to local storage
      </mat-checkbox>
    </div>

    <div *ngIf="actionInProgress">
      <mat-spinner
        [diameter]="64"
        style="margin: 0 auto">
      </mat-spinner>
      <p style="text-align: center">
        Turning off sync...
      </p>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-button
      mat-dialog-close
      color="primary"
      [disabled]="actionInProgress">
      Cancel
    </button>
    <button
      mat-stroked-button
      color="primary"
      [disabled]="actionInProgress"
      (click)="disableSync()">
      Turn off Sync
    </button>
  </div>
</div>
