<div
  appMouseOver
  #headerDiv=app-mouse-over
  [ngClass]="isHidden ? 'chrome-window-header-hidden' : 'chrome-window-header'">
  <!--Action bar-->
  <div class="chrome-window-action-bar">
    <button
      class="action-button-30"
      matTooltip="Menu"
      matTooltipClass="tooltip-reduced-margin"
      mat-icon-button
      *ngIf="headerDiv.mouseOver || menuOpen"
      [matMenuTriggerFor]="menu"
      (menuOpened)="setMenuOpen(true)"
      (menuClosed)="setMenuOpen(false)">
      <mat-icon class="action-icon-18-black">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let menuItem of actionMenuItems">
        <button
          class="menu-item"
          mat-menu-item
          [matTooltip]="menuItem.tooltip"
          matTooltipPosition="after"
          matTooltipClass="tooltip-reduced-margin"
          (click)="menuItem.callback(index)">
          <mat-icon class="menu-item-icon">{{menuItem.icon}}</mat-icon>
          <span>{{menuItem.title}}</span>
        </button>
      </ng-container>
    </mat-menu>
    <ng-container *ngFor="let button of actionButtons">
      <button
        class="action-button-30"
        mat-icon-button
        [matTooltip]="isHidden ? button.titleWhenHidden || button.title : button.title"
        matTooltipClass="tooltip-reduced-margin"
        (click)="button.callback()">
        <mat-icon class="action-icon-18-black">{{isHidden ? button.iconWhenHidden || button.icon : button.icon}}</mat-icon>
      </button>
    </ng-container>
  </div>
  <button
    class="chrome-window-action-bar action-button-30"
    mat-icon-button
    *ngIf="headerDiv.mouseOver && preferences?.enableDebugging"
    matTooltip="Debug"
    matTooltipClass="tooltip-reduced-margin"
    (click)="debug()">
    <mat-icon class="action-icon-18-black">bug_report</mat-icon>
  </button>

  <!--Title text-->
  <app-editable-text
    class="chrome-window-title"
    [value]="title"
    (valueUpdated)="setTitle($event)">
    <div
      style="display: inline-block"
      appMouseOver
      #titleTextDiv=app-mouse-over
      matTooltip="Edit title"
      matTooltipClass="tooltip-reduced-margin"
      (click)="editTitle()">
      {{lastModified || title}}
      <span *ngIf="isHidden"> ({{chromeAPIWindow.tabs.length}} tabs)</span>
      <div
        style="display: inline-block"
        class="action-button-30">
        <mat-icon class="icon-18-black">
          {{props.isMutable && titleTextDiv.mouseOver ? 'edit' : ''}}
        </mat-icon>
      </div>
    </div>
  </app-editable-text>
</div>
