<div
  appMouseOver
  #headerDiv=app-mouse-over
  [ngClass]="layoutState.hidden ? 'chrome-window-header-hidden' : 'chrome-window-header'">
  <!--Action bar-->
  <div class="chrome-window-action-bar">
    <ng-container *ngFor="let button of actionButtons">
      <button
        class="action-button-30"
        mat-icon-button
        *ngIf="!button.requiresMouseover || headerDiv.mouseOver"
        [title]="button.title"
        (click)="button.callback(sessionState)">
        <mat-icon class="action-icon-18" *ngIf="!layoutState.hidden">{{button.icon}}</mat-icon>
        <mat-icon class="action-icon-18" *ngIf="layoutState.hidden">{{button.iconWhenHidden || button.icon}}</mat-icon>
      </button>
    </ng-container>
  </div>
  <button
    class="chrome-window-action-bar action-button-30"
    mat-icon-button
    *ngIf="headerDiv.mouseOver && debugModeEnabled$ | async"
    [title]="'debug'"
    (click)="debug()">
    <mat-icon class="action-icon-18">bug_report</mat-icon>
  </button>

  <!--Title text-->
  <div class="chrome-window-title">
    <div
      appMouseOver
      #titleTextDiv=app-mouse-over
      *ngIf="!showEditForm">
      <span *ngIf="lastModified">{{lastModified}}</span>
      <span *ngIf="!lastModified">{{layoutState.title}}</span>
      <span *ngIf="layoutState.hidden"> ({{chromeAPIWindow.tabs.length}} tabs)</span>
      <button
        class="action-button-30"
        mat-icon-button
        title="Edit title"
        *ngIf="props.isMutable && titleTextDiv.mouseOver"
        (click)="editTitle()">
        <mat-icon class="action-icon-18">edit</mat-icon>
      </button>
    </div>

    <form *ngIf="showEditForm" (ngSubmit)="submitTitleForm()">
      <input
        #titleInput
        type="text"
        [formControl]="titleFormControl"
        (blur)="submitTitleForm()"
        (keydown.enter)="submitTitleForm()"
        (keydown.escape)="cancelTitleFormEdit()">
      <button
        mat-icon-button
        class="action-button-30"
        type="submit"
        title="Save title">
        <mat-icon class="action-icon-18">save_alt</mat-icon>
      </button>
    </form>
  </div>
</div>
