<!--<div cdkDropListGroup [ngStyle]="{background: 'url(/assets/damian-markutt-8uXthE3xeBI-unsplash.jpg) no-repeat center center fixed', backgroundSize: 'cover'}">-->
<!--<div cdkDropListGroup [ngStyle]="{background: 'url(/assets/33833709921_c116245e78_o.jpg) no-repeat center center fixed', backgroundSize: 'cover'}">-->
<!--<div cdkDropListGroup [ngStyle]="{background: 'url(/assets/hussain-matheen-Q3JQ1ww-oCw-unsplash.jpg) no-repeat center center fixed', backgroundSize: 'cover'}">-->
<div cdkDropListGroup [ngStyle]="{background: 'url(/assets/32139955053_ee887b64de_6k.jpg) no-repeat center center fixed', backgroundSize: 'cover'}">
  <mat-grid-list cols="3" rowHeight="10000px">
    <mat-grid-tile>
      <app-saved-window-list></app-saved-window-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-active-window-list></app-active-window-list>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
  </mat-grid-list>
</div>
