<div class="column-header">
  <span style="float: right">
    <button
      mat-icon-button
      title="Create new window"
      (click)="addNewWindow()">
      <mat-icon class="action-icon-24">add</mat-icon>
    </button>
    <button
      mat-icon-button
      [title]="windowListState.layoutState.hidden ? 'Show saved windows' : 'Minimize saved windows'"
      (click)="toggleDisplay()">
      <mat-icon class="action-icon-24" *ngIf="!windowListState.layoutState.hidden">arrow_drop_down</mat-icon>
      <mat-icon class="action-icon-24" *ngIf="windowListState.layoutState.hidden">arrow_right</mat-icon>
    </button>
  </span>
  <span class="column-title-text">
    Saved
  </span>
</div>

<div
  cdkDropList
  class="column-scrollable-content"
  *ngIf="!windowListState.layoutState.hidden"
  [id]="windowListId"
  [cdkDropListConnectedTo]="connectedWindowListIds"
  (cdkDropListDropped)="windowDropped($event)">
  <div
    cdkDrag
    *ngFor="let window of windowListState.chromeAPIWindows"
    [cdkDragData]="window"
    (cdkDragStarted)="beginDrag()">
    <app-chrome-window
      [chromeAPIWindow]="window"
      [layoutState]="windowListState.getWindowLayout(window.id)"
      [actionButtons]="actionButtons"
      [isMutable]="true"
      [windowCategory]="windowCategory"
      [tabsService]="savedTabsService">
    </app-chrome-window>
  </div>
</div>
