.chrome-tab-title {
  width: 360px;
  line-height: 30px; /* TAB_HEIGHT */
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.favicon-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  padding: 0 10px
}
