@mixin draggable-chrome-tab-theme($theme) {
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  .draggable-chrome-tab {
    display: flex;
    height: 30px; /* TAB_HEIGHT */
    line-height: 30px; /* TAB_HEIGHT */
    background: map-get($background-palette, background);
    cursor: pointer;
    user-select: none;
    color: map-get($foreground-palette, text);
  }
  .draggable-chrome-tab:hover {
    background: map-get($background-palette, hover);
  }
}

.draggable-chrome-tab-content {
  display: flex;
  flex: auto;
  min-width: 0; // See explanation at https://bugzilla.mozilla.org/show_bug.cgi?id=1086218#c4
}

.draggable-chrome-tab-title {
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.draggable-chrome-tab-favicon-icon {
  flex: none;
  align-self: center;
  width: 16px;
  height: 16px;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
}

.draggable-chrome-tab-close-button {
  flex: none;
}
