@mixin draggable-chrome-tab-theme($theme) {
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  .draggable-chrome-tab {
    display: flex;
    justify-content: space-between;
    height: 30px; /* TAB_HEIGHT */
    line-height: 30px; /* TAB_HEIGHT */
    background: map-get($background-palette, background);
    cursor: pointer;
    user-select: none;
    color: map-get($foreground-palette, text);
  }
  .draggable-chrome-tab:hover {
    background: map-get($background-palette, hover);
  }
}

.chrome-tab-title {
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.favicon-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
}
