<div
  appMouseOver
  #tabContainer=app-mouse-over
  class="draggable-chrome-tab"
  [title]="chromeTab.url"
  [@close-tab]="animationState"
  (@close-tab.done)="completeCloseAnimation($event)">
  <div
    class="chrome-tab-title"
    [ngStyle]="{opacity: chromeTab.discarded ? 0.5 : 1}"
    (click)="setTabActive($event)">
    <img
      class="favicon-icon"
      [src]="faviconIconUrl"
      *ngIf="!isLoading()">
    <div
      class="favicon-icon"
      *ngIf="isLoading()">
      <mat-spinner [diameter]="16"></mat-spinner>
    </div>
    <span *ngIf="!chromeTab.discarded">{{title}}</span>
    <em *ngIf="chromeTab.discarded">(suspended) {{title}}</em>
  </div>
  <button
    mat-icon-button
    class="action-button-30"
    title="Close tab"
    (click)="closeTab()">
    <mat-icon class="action-icon-18" *ngIf="tabContainer.mouseOver">close</mat-icon>
  </button>
</div>
