<div
  appMouseOver
  #tabContainer=app-mouse-over
  class="chrome-tab"
  [title]="chromeTab.url"
  [@close-tab]="animationState"
  (@close-tab.done)="completeCloseAnimation($event)">
  <button
    mat-icon-button
    class="action-button-30"
    style="float: right"
    title="Close tab"
    (click)="closeTab()">
    <mat-icon class="action-icon-18" *ngIf="tabContainer.mouseOver">close</mat-icon>
  </button>
  <div
    class="chrome-tab-title"
    (click)="setTabActive($event)">
    <img
      class="favicon-icon"
      [src]="faviconIconUrl"
      *ngIf="!isLoading()">
    <div
      class="favicon-icon"
      *ngIf="isLoading()">
      <mat-spinner [diameter]="16"></mat-spinner>
    </div>
    {{title}}
  </div>
</div>
