<div appMouseOver
     #headerDiv=app-mouse-over
     class="column-header">
  <span style="float: right">
    <button
      mat-icon-button
      title="Clear"
      *ngIf="!sessionListState.layoutState.hidden || headerDiv.mouseOver"
      (click)="clear()">
      <mat-icon class="action-icon-24">clear</mat-icon>
    </button>
    <button
      mat-icon-button
      [title]="sessionListState.layoutState.hidden ? 'Show recently closed tabs' : 'Minimize recently closed tabs'"
      (click)="toggleDisplay()">
      <mat-icon class="action-icon-24" *ngIf="!sessionListState.layoutState.hidden">arrow_drop_down</mat-icon>
      <mat-icon class="action-icon-24" *ngIf="sessionListState.layoutState.hidden">arrow_right</mat-icon>
    </button>
  </span>
  <span class="column-title-text">
    {{title}}
  </span>
</div>

<div
  class="column-scrollable-content"
  *ngIf="!sessionListState.layoutState.hidden || isAnimationStateExpanding()"
  [@collapse-list]="collapseAnimationState"
  (@collapse-list.done)="completeToggleDisplayAnimation($event)">
  <div *ngFor="let session of sessionListState.recentlyClosedSessions">
    <div
      class="chrome-window-container"
      *ngIf="session.isWindow"
      [@close-window]="session.status"
      (@close-window.done)="completeCloseWindow($event, session)">
      <app-chrome-window-header
        [chromeAPIWindow]="session.closedWindow.chromeAPIWindow"
        [layoutState]="sessionListState.getWindowLayout(session.closedWindow.chromeAPIWindow.id)"
        [props]="windowProps"
        (chromeWindowClose)="closeWindow(session)"
        (chromeWindowToggleDisplay)="toggleWindowDisplay(sessionListState.getWindowLayout(session.closedWindow.chromeAPIWindow.id))">
      </app-chrome-window-header>
      <div
        *ngIf="!sessionListState.getWindowLayout(session.closedWindow.chromeAPIWindow.id).hidden || isWindowExpanding(sessionListState.getWindowLayout(session.closedWindow.chromeAPIWindow.id))"
        [@collapse-window]="sessionListState.getWindowLayout(session.closedWindow.chromeAPIWindow.id).status"
        (@collapse-window.done)="completeToggleWindowDisplay($event, sessionListState.getWindowLayout(session.closedWindow.chromeAPIWindow.id))">
        <app-chrome-window
          [chromeAPIWindow]="session.closedWindow.chromeAPIWindow"
          [layoutState]="sessionListState.getWindowLayout(session.closedWindow.chromeAPIWindow.id)"
          [props]="windowProps">
        </app-chrome-window>
      </div>
    </div>

    <div
      class="chrome-window-container"
      *ngIf="!session.isWindow"
      [@collapse-window]="session.status">
<!--      Todo: animation is wrong when 1 tab remaining -->
      <div
        class="chrome-window-body"
        style="border-style: solid; border-radius: inherit; min-height: 0">
        <app-draggable-chrome-tab
          class="chrome-tab-border"
          *ngFor="let closedTab of session.closedTabs"
          [@collapse-window]="closedTab.status"
          (@collapse-window.done)="completeTabCloseAnimation($event, closedTab.chromeAPITab.id)"
          [chromeTab]="closedTab.chromeAPITab"
          [timestamp]="closedTab.timestamp"
          (draggableChromeTabClose)="closeTab(session, closedTab)"
          (draggableChromeTabClick)="tabClicked(closedTab.chromeAPITab, $event)">
        </app-draggable-chrome-tab>
      </div>
    </div>
  </div>
</div>
