<div class="column-header">
  <span style="float: right">
    <button
      mat-icon-button
      title="Clear"
      *ngIf="!sessionListState.layoutState.hidden"
      (click)="clear()">
      <mat-icon class="action-icon-24">clear</mat-icon>
    </button>
    <button
      mat-icon-button
      [title]="sessionListState.layoutState.hidden ? 'Show recently closed tabs' : 'Minimize recently closed tabs'"
      (click)="toggleDisplay()">
      <mat-icon class="action-icon-24" *ngIf="!sessionListState.layoutState.hidden">arrow_drop_down</mat-icon>
      <mat-icon class="action-icon-24" *ngIf="sessionListState.layoutState.hidden">arrow_right</mat-icon>
    </button>
  </span>
  <span class="column-title-text">
    {{title}}
  </span>
</div>

<div
  class="column-scrollable-content"
  *ngIf="!sessionListState.layoutState.hidden">
<!--  <h2 style="text-align: center">Today</h2>-->
<!--  <div style="width: 400px; height: 30px; line-height: 30px; text-align: center; margin-bottom: 20px;-->
<!--              background-color: #EBE9EB80; font-weight: bold; font-size: large;-->
<!--              border: 1px solid dimgrey; border-radius: 4px">-->
<!--    Today-->
<!--  </div>-->

  <div *ngFor="let session of sessionListState.recentlyClosedSessions">
    <app-chrome-window
      *ngIf="session.isWindow"
      [chromeAPIWindow]="session.closedWindow.chromeAPIWindow"
      [layoutState]="sessionListState.getWindowLayout(session.closedWindow.chromeAPIWindow.id)"
      [actionButtons]="actionButtons"
      [isMutable]="false"
      [windowCategory]="windowCategory"
      [tabsService]="recentlyClosedTabsService">
    </app-chrome-window>

    <div class="chrome-window-container" *ngIf="!session.isWindow">
      <div class="chrome-window-body" style="border-style: solid; border-radius: inherit">
        <app-draggable-chrome-tab
          class="chrome-tab-border"
          *ngFor="let closedTab of session.closedTabs"
          [chromeTab]="closedTab.chromeAPITab"
          [timestamp]="closedTab.timestamp"
          (draggableChromeTabClose)="closeTab(closedTab.chromeAPITab.id)"
          (draggableChromeTabClick)="setTabActive(closedTab.chromeAPITab)">
        </app-draggable-chrome-tab>
      </div>
    </div>
  </div>
</div>
