<div class="chrome-window-container">
  <div [ngClass]="layoutState.hidden ? 'chrome-window-header-hidden' : 'chrome-window-header'">
    <div class="chrome-window-action-bar">
      <button class="chrome-window-action-button"
        mat-icon-button
        [title]="layoutState.hidden ? 'Show window' : 'Minimize window'"
        (click)="toggleDisplay()">
        <mat-icon class="action-icon-18" *ngIf="!layoutState.hidden">arrow_drop_down</mat-icon>
        <mat-icon class="action-icon-18" *ngIf="layoutState.hidden">arrow_right</mat-icon>
      </button>
      <button class="chrome-window-action-button"
        mat-icon-button
        (click)="closeWindow()">
        <mat-icon class="action-icon-18">close</mat-icon>
      </button>
    </div>
    <div class="chrome-window-title">
      {{getTitle()}}
    </div>
  </div>

  <div
    cdkDropList
    class="chrome-window-body"
    *ngIf="!layoutState.hidden"
    [cdkDropListData]="componentData"
    (cdkDropListDropped)="tabDropped($event)">
    <div
      cdkDrag
      class="draggable-chrome-tab"
      *ngFor="let tab of componentData.tabs"
      [cdkDragData]="tab">
      <app-draggable-chrome-tab
        class="chrome-tab"
        [chromeTab]="tab"
        (draggableChromeTabClose)="closeTab(tab.id)"
        (draggableChromeTabClick)="setTabActive(tab.id)">
      </app-draggable-chrome-tab>
    </div>
  </div>
</div>
