<div
  appMouseOver
  #headerDiv=app-mouse-over
  class="column-header">
  <div style="float: right">
    <button
      mat-icon-button
      matTooltip="Debug"
      matTooltipClass="tooltip-reduced-margin"
      *ngIf="headerDiv.mouseOver && preferences?.enableDebugging"
      (click)="debug()">
      <mat-icon class="action-icon-24">bug_report</mat-icon>
    </button>
    <ng-container *ngFor="let button of actionButtons">
      <button
        mat-icon-button
        [matTooltip]="sessionListState.isHidden() ? button.titleWhenHidden || button.title : button.title"
        matTooltipClass="tooltip-reduced-margin"
        *ngIf="!button.requiresMouseover || headerDiv.mouseOver"
        (click)="button.callback()">
        <mat-icon class="action-icon-24">{{sessionListState.isHidden() ? button.iconWhenHidden || button.icon : button.icon}}</mat-icon>
      </button>
    </ng-container>
  </div>
  <mat-icon [ngClass]="{'sync-icon': true, 'spin': syncInProgress}">
    {{syncStatusIcon}}
  </mat-icon>
  <div class="column-title-text" style="float: left">
    Saved
    <span *ngIf="sessionListState.isHidden()"> ({{sessionListState.size()}})</span>
  </div>
</div>

<app-session-list
  *ngIf="!notSignedIn"
  [props]="props"
  [sessionListState]="sessionListState">
</app-session-list>

<div *ngIf="notSignedIn">
  Sync is enabled, but you are not signed in.
</div>
