<div
  appMouseOver
  #headerDiv=app-mouse-over
  class="column-header">
  <span style="float: right">
    <button
      mat-icon-button
      title="debug"
      *ngIf="headerDiv.mouseOver && debugModeEnabled()"
      (click)="debug()">
      <mat-icon class="action-icon-24">bug_report</mat-icon>
    </button>
    <ng-container *ngFor="let button of actionButtons">
      <button
        mat-icon-button
        [title]="windowListState.layoutState.hidden ? button.titleWhenHidden : button.title"
        (click)="button.callback()">
        <mat-icon class="action-icon-24" *ngIf="!windowListState.layoutState.hidden">{{button.icon}}</mat-icon>
        <mat-icon class="action-icon-24" *ngIf="windowListState.layoutState.hidden">{{button.iconWhenHidden || button.icon}}</mat-icon>
      </button>
    </ng-container>
  </span>
  <span class="column-title-text">
    {{title}}
  </span>
</div>

<div
  class="column-scrollable-content"
  cdkDropList
  [id]="windowProps.windowListId"
  [cdkDropListData]="windowProps"
  [cdkDropListConnectedTo]="connectedWindowListIds"
  (cdkDropListDropped)="windowDropped($event)">
  <div
    *ngIf="!windowListState.layoutState.hidden || isWindowListAnimating()"
    [@collapse-list]="animationState"
    (@collapse-list.done)="completeToggleDisplayAnimation($event)">
    <div
      cdkDrag
      *ngFor="let layoutState of windowListState.layoutState.windowStates"
      [cdkDragData]="windowListState.getWindow(layoutState.windowId)"
      (cdkDragStarted)="beginDrag()">
      <app-chrome-window-container
        [chromeAPIWindow]="windowListState.getWindow(layoutState.windowId)"
        [layoutState]="layoutState"
        [props]="windowProps">
      </app-chrome-window-container>
    </div>
  </div>
</div>
