<div
  appMouseOver
  #headerDiv=app-mouse-over
  class="column-header">
  <span style="float: right">
    <button
      mat-icon-button
      title="debug"
      *ngIf="headerDiv.mouseOver && debugModeEnabled()"
      (click)="debug()">
      <mat-icon class="action-icon-24">bug_report</mat-icon>
    </button>
    <ng-container *ngFor="let button of actionButtons">
      <button
        mat-icon-button
        [title]="sessionListState.layoutState.hidden ? button.titleWhenHidden : button.title"
        (click)="button.callback()">
        <mat-icon class="action-icon-24" *ngIf="!sessionListState.layoutState.hidden">{{button.icon}}</mat-icon>
        <mat-icon class="action-icon-24" *ngIf="sessionListState.layoutState.hidden">{{button.iconWhenHidden || button.icon}}</mat-icon>
      </button>
    </ng-container>
  </span>
  <span class="column-title-text">
    {{getTitle()}}
  </span>
</div>

<div
  class="column-scrollable-content"
  cdkDropList
  [id]="windowProps.windowListId"
  [cdkDropListData]="windowProps"
  [cdkDropListConnectedTo]="connectedWindowListIds"
  (cdkDropListDropped)="windowDropped($event)">
  <div
    *ngIf="!sessionListState.layoutState.hidden || isComponentAnimating()"
    [@collapse-list]="animationState"
    (@collapse-list.done)="completeToggleDisplayAnimation($event)">
    <ng-container *ngFor="let layoutState of this.sessionListState.layoutState.sessionStates; index as index; first as isFirst; last as isLast">
      <div
        *ngIf="sessionListState.getSession(layoutState.sessionId).window"
        cdkDrag
        [cdkDragData]="sessionListState.getWindow(layoutState.sessionId)"
        (cdkDragStarted)="beginDrag()">
        <app-chrome-window-container
          [chromeAPIWindow]="sessionListState.getWindow(layoutState.sessionId)"
          [layoutState]="layoutState"
          [props]="windowProps">
        </app-chrome-window-container>
      </div>

      <app-detached-chrome-tab
        *ngIf="sessionListState.getSession(layoutState.sessionId).tab"
        [session]="sessionListState.getSession(layoutState.sessionId)"
        [props]="windowProps"
        [isFirstChild]="isFirst || !sessionListState.getSessionAtIndex(index-1).tab"
        [isLastChild]="isLast || !sessionListState.getSessionAtIndex(index+1).tab">
      </app-detached-chrome-tab>
    </ng-container>
  </div>
</div>
