<div class="column-header">
  <span style="float: right">
    <ng-container *ngFor="let button of actionButtons">
      <button
        mat-icon-button
        [title]="windowListState.layoutState.hidden ? button.titleWhenHidden : button.title"
        (click)="button.callback()">
        <mat-icon class="action-icon-24" *ngIf="!windowListState.layoutState.hidden">{{button.icon}}</mat-icon>
        <mat-icon class="action-icon-24" *ngIf="windowListState.layoutState.hidden">{{button.iconWhenHidden || button.icon}}</mat-icon>
      </button>
    </ng-container>
  </span>
  <span class="column-title-text">
    {{title}}
  </span>
</div>

<div
  cdkDropList
  class="column-scrollable-content"
  *ngIf="!windowListState.layoutState.hidden || isAnimationStateExpanding()"
  [@collapse-list]="collapseAnimationState"
  (@collapse-list.done)="completeToggleDisplayAnimation($event)"
  [id]="windowProps.windowListId"
  [cdkDropListData]="windowProps"
  [cdkDropListConnectedTo]="connectedWindowListIds"
  (cdkDropListDropped)="windowDropped($event)">
  <div
    cdkDrag
    *ngFor="let layoutState of windowListState.layoutState.windowStates"
    [@close-window]="layoutState.status"
    (@close-window.done)="completeCloseWindow($event, layoutState)"
    [cdkDragData]="windowListState.getWindow(layoutState.windowId)"
    (cdkDragStarted)="beginDrag()">
    <div
      class="chrome-window-container"
      *ngIf="windowListState.getWindow(layoutState.windowId).type === 'normal' && !layoutState.deleted">
      <div cdkDragHandle>
        <app-chrome-window-header
          [chromeAPIWindow]="windowListState.getWindow(layoutState.windowId)"
          [layoutState]="layoutState"
          [props]="windowProps"
          (chromeWindowClose)="closeWindow(layoutState)"
          (chromeWindowToggleDisplay)="toggleWindowDisplay(layoutState)">
        </app-chrome-window-header>
      </div>
      <div
        *ngIf="!layoutState.hidden || isWindowExpanding(layoutState)"
        [@collapse-window]="layoutState.status"
        (@collapse-window.done)="completeToggleWindowDisplay($event, layoutState)">
        <app-chrome-window
          [chromeAPIWindow]="windowListState.getWindow(layoutState.windowId)"
          [layoutState]="layoutState"
          [props]="windowProps">
        </app-chrome-window>
      </div>
    </div>
  </div>
</div>
