<div
  class="chrome-window-container"
  *ngIf="(!chromeAPIWindow.type || chromeAPIWindow.type === 'normal') && !layoutState.deleted"
  [@close-window]="animationState"
  (@close-window.done)="completeCloseWindow($event)">
  <div cdkDragHandle>
    <app-chrome-window-header
      [chromeAPIWindow]="chromeAPIWindow"
      [layoutState]="layoutState"
      [props]="props"
      (chromeWindowClose)="closeWindow()"
      (chromeWindowToggleDisplay)="toggleWindowDisplay(layoutState)">
    </app-chrome-window-header>
  </div>
  <div
    *ngIf="!layoutState.hidden || isWindowAnimating()"
    [@collapse-window]="animationState"
    (@collapse-window.done)="completeToggleWindowDisplay($event)">
    <app-chrome-window
      [chromeAPIWindow]="chromeAPIWindow"
      [layoutState]="layoutState"
      [props]="props">
    </app-chrome-window>
  </div>
</div>
