<div
  class="chrome-window-container"
  *ngIf="!layoutState.deleted"
  [@close-window]="animationState"
  (@close-window.done)="completeCloseWindow($event)">
  <div cdkDragHandle>
    <app-chrome-window-header
      [sessionState]="sessionState"
      [props]="props"
      [index]="index"
      (chromeWindowClose)="closeWindow()"
      (chromeWindowToggleDisplay)="toggleWindowDisplay()">
    </app-chrome-window-header>
  </div>
  <div
    *ngIf="!layoutState.hidden || isWindowAnimating()"
    [@collapse-window]="animationState"
    (@collapse-window.done)="completeToggleWindowDisplay($event)">
    <app-chrome-window
      [sessionState]="sessionState"
      [props]="props">
    </app-chrome-window>
  </div>
</div>
