@import '~@angular/material/theming';
@import 'styles';
@import 'app/components/draggable-chrome-tab/draggable-chrome-tab.component';
@import 'app/components/detached-chrome-tab/detached-chrome-tab.component';
@import 'app/pages/options/options.component';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$app-default-primary: mat-palette($mat-indigo);
$app-default-accent: mat-palette($mat-pink, A200, A100, A400);
$app-default-warn: mat-palette($mat-red);
$app-default-theme:mat-light-theme($app-default-primary, $app-default-accent, $app-default-warn);

$app-dark-primary: mat-palette($mat-cyan);
$app-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$app-dark-warn: mat-palette($mat-red);
$app-dark-theme:mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);

@include angular-material-theme($app-default-theme);
@include styles-theme($app-default-theme);
@include chrome-window-theme($app-default-theme);
@include chrome-tab-theme($app-default-theme);
@include draggable-chrome-tab-theme($app-default-theme);
@include detached-chrome-tab-theme($app-default-theme);
@include icons-theme($app-default-theme);
@include options-theme($app-default-theme);

.dark-theme {
  @include angular-material-theme($app-dark-theme);
  @include styles-theme($app-dark-theme);
  @include chrome-window-theme($app-dark-theme);
  @include chrome-tab-theme($app-dark-theme);
  @include draggable-chrome-tab-theme($app-dark-theme);
  @include detached-chrome-tab-theme($app-dark-theme);
  @include icons-theme($app-dark-theme);
  @include options-theme($app-dark-theme);
}
