@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$app-light-primary: mat-palette($mat-indigo);
$app-light-accent: mat-palette($mat-pink, A200, A100, A400);
$app-light-warn: mat-palette($mat-red);
$app-light-theme:mat-light-theme($app-light-primary, $app-light-accent, $app-light-warn);

@include angular-material-theme($app-light-theme);
