.empty-window-content {
  width: 400px;
  line-height: 30px; /* TAB_HEIGHT */
  color: lightsteelblue;
  text-align: center;
  position: absolute;
}

.empty-window-icon {
  line-height: inherit;
  height: inherit;
  margin: 0 8px;
  vertical-align: middle;
}
